In [1]:
import pandas as pd

In [2]:
FILENAME = 'test_cgdata_2.csv'
HEADERS = [
    'attribute1',
    'attribute2',
    'attribute3',
    'attribute4',
    'attribute5',
    'attribute6',
    'total'
]
rolls = pd.read_csv(FILENAME, names=HEADERS)
rolls.head()

,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,total
0,16,13,13,11,17,14,84
1,13,16,16,16,18,12,91
2,12,15,10,10,9,12,68
3,14,11,9,10,10,12,66
4,13,13,12,17,10,10,75

In [3]:
rolls.shape

(1000000, 7)

In [4]:
rolls.count()

attribute1    1000000
attribute2    1000000
attribute3    1000000
attribute4    1000000
attribute5    1000000
attribute6    1000000
total         1000000
dtype: int64

In [5]:
rolls['attribute1']

0         16
1         13
2         12
3         14
4         13
          ..
999995     9
999996    15
999997    11
999998    16
999999    11
Name: attribute1, Length: 1000000, dtype: int64

In [6]:
rolls.loc[0]

attribute1    16
attribute2    13
attribute3    13
attribute4    11
attribute5    17
attribute6    14
total         84
Name: 0, dtype: int64

In [7]:
# How many samples have a best attribute at least 16?
at_least_16_mask = ((rolls.attribute1 >= 16) 
                    | (rolls.attribute2 >= 16) 
                    | (rolls.attribute3 >= 16) 
                    | (rolls.attribute4 >= 16) 
                    | (rolls.attribute5 >= 16) 
                    | (rolls.attribute6 >= 16)
                   )
rolls[at_least_16_mask].count()  # 568140 or almost 57%

attribute1    568140
attribute2    568140
attribute3    568140
attribute4    568140
attribute5    568140
attribute6    568140
total         568140
dtype: int64

In [8]:
# How many samples have a worst attribute less than 8?
below_8_mask = ((rolls.attribute1 < 8) 
                | (rolls.attribute2 < 8) 
                | (rolls.attribute3 < 8) 
                | (rolls.attribute4 < 8) 
                | (rolls.attribute5 < 8) 
                | (rolls.attribute6 < 8)
               )
rolls[below_8_mask].count()  # 297192 or almost 30%

attribute1    297192
attribute2    297192
attribute3    297192
attribute4    297192
attribute5    297192
attribute6    297192
total         297192
dtype: int64

In [9]:
# Mean points total
rolls.total.mean()

73.473309

In [10]:
rolls.total.min()

39

In [11]:
rolls.total.max()

104

In [12]:
rolls[rolls.total < 65].count()

attribute1    102024
attribute2    102024
attribute3    102024
attribute4    102024
attribute5    102024
attribute6    102024
total         102024
dtype: int64

In [13]:
rolls[rolls.total == 66].count()

attribute1    31158
attribute2    31158
attribute3    31158
attribute4    31158
attribute5    31158
attribute6    31158
total         31158
dtype: int64

In [14]:
for roll in range(18,108):
    print(f'x,{roll},{rolls[rolls.total == roll].attribute1.count()}')

x,18,0
x,19,0
x,20,0
x,21,0
x,22,0
x,23,0
x,24,0
x,25,0
x,26,0
x,27,0
x,28,0
x,29,0
x,30,0
x,31,0
x,32,0
x,33,0
x,34,0
x,35,0
x,36,0
x,37,0
x,38,0
x,39,1
x,40,0
x,41,2
x,42,5
x,43,5
x,44,15
x,45,16
x,46,33
x,47,63
x,48,102
x,49,169
x,50,269
x,51,411
x,52,590
x,53,947
x,54,1383
x,55,1997
x,56,2917
x,57,3935
x,58,5417
x,59,7093
x,60,9140
x,61,11835
x,62,14864
x,63,18549
x,64,22266
x,65,26533
x,66,31158
x,67,35951
x,68,40591
x,69,45047
x,70,49216
x,71,52410
x,72,54656
x,73,56372
x,74,56681
x,75,55859
x,76,54231
x,77,51137
x,78,47826
x,79,43207
x,80,38984
x,81,33624
x,82,28503
x,83,23414
x,84,19308
x,85,15089
x,86,11538
x,87,8462
x,88,6089
x,89,4291
x,90,2935
x,91,2025
x,92,1215
x,93,718
x,94,438
x,95,229
x,96,125
x,97,68
x,98,23
x,99,15
x,100,4
x,101,3
x,102,0
x,103,0
x,104,1
x,105,0
x,106,0
x,107,0

In [15]:
for value in range(8,19):
    print()

In [16]:
rolls.loc[0:5,'attribute1':'attribute6'].max()

attribute1    16
attribute2    16
attribute3    16
attribute4    17
attribute5    18
attribute6    14
dtype: int64